<div
  class="grid-header"
  *ngIf="layout?.block_info?.header"
  [ngStyle]="{
    'height.px': layout?.block_info?.header,
    background: layout?.block_info?.bgColor
  }"
>
  <div class="title" *ngIf="layout.title" [ngStyle]="{ color: layout.color }">
    {{ layout.title || ' ' }}
  </div>
  <div class="spacer"></div>
  <button pi-icon-button (click)="deleteLayout(layout)">
    <mat-icon>delete</mat-icon>
  </button>
  <button
    pi-icon-button
    (click)="$event.stopPropagation(); togglePopup(layout)"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <div
    class="block-info"
    (click)="$event.stopPropagation()"
    *ngIf="staticBlockInfoPopup === layout"
  >
    <pi-form-field label="Title">
      <input type="text" pi-input [(ngModel)]="layout.tempTitle" />
    </pi-form-field>
    <pi-form-field label="Background">
      <div class="colors">
        <div
          class="item"
          [style.background]="color"
          (click)="selectBgColor(layout, color)"
          *ngFor="let color of backgroundColors"
        >
          <em class="material-icons" *ngIf="color === layout.tempBgColor"
            >done</em
          >
        </div>
      </div>
    </pi-form-field>
    <pi-form-field label="Color">
      <div class="colors">
        <div
          class="item"
          [style.background]="color"
          (click)="selectColor(layout, color)"
          *ngFor="let color of backgroundColors"
        >
          <em class="material-icons" *ngIf="color === layout.txtColor">done</em>
        </div>
      </div>
    </pi-form-field>
    <div class="footer">
      <button pi-button (click)="togglePopup(layout)">Cancel</button>
      <button
        pi-button
        color="primary"
        (click)="saveBlockInfo(layout, 'layout')"
      >
        Apply
      </button>
    </div>
  </div>
</div>
<div
  class="grid-layout"
  [ngStyle]="{
    'width.px': layout.width
      ? layout.width
      : layout.block_info
      ? layout.block_info.width
      : '',
    'height.px':
      (layout.blockHeight
        ? layout.blockHeight
        : layout.layout_info
        ? layout.layout_info.blockHeight
        : '') * layout.rows
  }"
>
  <div class="placeholder">
    <div
      class="block"
      *ngFor="let block of layout.placeholderBlocks"
      [ngStyle]="{
        'width.px': layout.blockWidth
          ? layout.blockWidth
          : layout.layout_info?.blockWidth
          ? layout.layout_info?.blockWidth
          : '',
        'height.px': layout.blockHeight
          ? layout.blockHeight
          : layout.layout_info?.blockHeight
          ? layout.layout_info?.blockHeight
          : ''
      }"
    ></div>
  </div>
  <div
    class="canvas"
    (mousedown)="startMove($event, 'create')"
    (touchstart)="startMove($event, 'create')"
  ></div>
  <div
    class="drag-box"
    *ngIf="moveObject.active && moveObject.type === 'create'"
    [ngStyle]="{
      'left.px': moveObject.x1,
      'top.px': moveObject.y1,
      'width.px': moveObject.width,
      'height.px': moveObject.height
    }"
  ></div>
  <div class="container">
    <div
      class="block"
      *ngFor="let block of layout.blocks"
      [ngStyle]="{
        'left.px': block?.block_info.left * layout.blockWidth,
        'top.px': block?.block_info.top * layout.blockHeight,
        'width.px': block?.block_info.cols * layout.blockWidth,
        'height.px': block?.block_info.rows * layout.blockHeight
      }"
    >
      <div
        id="{{ block?.id }}"
        cdkDropList
        (cdkDropListDropped)="drop($event, block)"
        class="inner-block"
        *ngIf="block?.block_info.type === 'block'"
        (click)="openPromos(block)"
        ondragover="onDragOver(event)"
      >
        <div class="header">
          <div
            class="title"
            *ngIf="block.block_info.title"
            [ngStyle]="{
              color: block.block_info.color,
              background: block.block_info.bgColor
            }"
          >
            {{ block?.block_info.title }}
          </div>
          <div class="spacer"></div>
          <button pi-icon-button (click)="deleteBlock(block)">
            <mat-icon>delete</mat-icon>
          </button>
          <button
            pi-icon-button
            (click)="$event.stopPropagation(); togglePopup(block)"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <div
          class="block-info"
          (click)="$event.stopPropagation()"
          *ngIf="staticBlockInfoPopup === block"
        >
          <pi-form-field label="Title">
            <input
              type="text"
              pi-input
              [(ngModel)]="block.block_info.tempTitle"
            />
          </pi-form-field>
          <pi-form-field label="Mod Sequence ID">
            <input
              type="text"
              pi-input
              [(ngModel)]="block.block_info.tempSequenceId"
            />
          </pi-form-field>
          <div
            class="pi-error"
            *ngIf="!block.block_info.tempSequenceId && submitted"
          >
            enter valid Mod Sequence ID
          </div>
          <pi-form-field label="Background">
            <div class="colors">
              <div
                class="item"
                [style.background]="color"
                (click)="selectBgColor(block, color)"
                *ngFor="let color of backgroundColors"
              >
                <em
                  class="material-icons"
                  *ngIf="color === block.block_info.tempBgColor"
                  >done</em
                >
              </div>
            </div>
          </pi-form-field>
          <pi-form-field label="Color">
            <div class="colors">
              <div
                class="item"
                [style.background]="color"
                (click)="selectColor(block, color)"
                *ngFor="let color of backgroundColors"
              >
                <em
                  class="material-icons"
                  *ngIf="color === block.block_info.txtColor"
                  >done</em
                >
              </div>
            </div>
          </pi-form-field>
          <div class="footer">
            <button pi-button (click)="togglePopup(block)">Cancel</button>
            <button
              pi-button
              color="primary"
              (click)="saveBlockInfo(block, 'block')"
            >
              Apply
            </button>
          </div>
        </div>
        <div
          class="block-data"
          *ngIf="block.promotion_info && block.promotion_info.length"
        >
          <div class="product-info" *ngIf="block.promotion_info[0].image_01">
            <!-- <div class="img" [ngStyle]="{
                          'background-image':
                            'url(' + block.promotion_info[0].image_01.image_path + ')'
                        }"></div> -->
            <img
              src="{{ block.promotion_info[0].image_01.image_path }}"
              alt="Block Image"
            />
          </div>
          <div class="product-info" *ngIf="!block.promotion_info[0].image_01">
            <!-- <div class="img" [ngStyle]="{
                          'background-image': 'url(' + noImage + ')'
                        }"></div> -->
            <img src="{{ noImage }}" alt="no-image" />
          </div>
          <div class="prod-desc">
            <div class="prod-detail">
              <div
                class="title"
                [matTooltip]="
                  block.promotion_info[0].group == '0'
                    ? block.promotion_info[0].blowline
                    : block.promotion_info[0].comb_blowline
                "
              >
                {{
                  block.promotion_info[0].group == '0'
                    ? block.promotion_info[0].blowline
                    : block.promotion_info[0].comb_blowline
                }}
              </div>
              <!-- <div class="brand" [matTooltip]="block.brand">{{ block.brand }}</div> -->
              <div
                class="desc"
                [matTooltip]="
                  block.promotion_info[0].group == '0'
                    ? block.promotion_info[0].overline_1
                    : block.promotion_info[0].comb_overline
                "
              >
                <!-- {{ block.promotion_info[0].comb_overline }} -->
                {{
                  block.promotion_info[0].group == '0'
                    ? block.promotion_info[0].overline_1
                    : block.promotion_info[0].comb_overline
                }}
              </div>
              <!-- <div class="brand" [matTooltip]="block.brand">
                Lays potato chips
              </div> -->
              <!-- <div class="desc" [matTooltip]="block.bodycopy">
                5-8 oz., Selected varieties
              </div> -->
            </div>
            <div class="price-info">
              <!-- <div class="price">${{ block.price }}</div> -->
              <div class="price">${{ block.promotion_info[0].net_retail }}</div>
              <!-- <div class="price-desc">{{ block.promotion_info[0].type }}</div> -->
            </div>
          </div>
        </div>
      </div>
      <app-grid-layout-designer
        [layout]="block"
        (onCreate)="onCreateBlock($event)"
        (onDeleteLayout)="deleteLayout($event)"
        (onDeleteBlock)="deleteBlock($event)"
        *ngIf="block.block_info.type === 'layout'"
      >
      </app-grid-layout-designer>
    </div>
  </div>
</div>
