.right-header {
  // padding: 20px 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f4f5;
  margin-bottom: 20px;
  .image-upload {
    position: relative;
    .image {
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      border: 1px solid #dedede;
      border-radius: 3px;
      justify-content: center;
      img {
        width: 100%;
        display: flex;
        align-items: center;
      }
    }
    .browse-file {
      display: none;
      cursor: pointer;
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      // text-align: center;
      background-color: #000;
      opacity: 0.5;
      font-size: 12px;
      // color: #fff;
      a {
        color: #e3e4f2;
      }
    }
    &:hover {
      .browse-file {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .info {
    // color: rgba(23, 43, 77, 0.8);
    display: flex;
    // max-width: 844px;
    justify-content: space-between;
    flex-wrap: wrap;
    .info-left {
      display: flex;
      align-items: center;
      .user-left-info {
        display: flex;
        flex-direction: column;
        margin-left: 12px;
        h3 {
          font-family: "SF-Pro-Text-Semibold", sans-serif;
          padding: 0;
          color: #4f5d76;
        }
        span {
          font-size: 12px;
          color: #4f5d76a8;
        }
      }
    }
    .actions {
      display: flex;
      align-items: center;
      em {
        cursor: pointer;
      }
    }
    .reset_pwd {
      display: flex;
      align-items: center;
      font-size: 15px;
      letter-spacing: -0.2px;
      cursor: pointer;
      margin-right: 6px;
      font-family: "SF-Pro-Text-Medium", Sans-Serif;
      text-transform: uppercase;
      font-size: 14px;
      em {
        &.envelope {
          font-size: 18px;
          margin-right: 4px;
        }
      }
    }
  }
}

.detail-section {
  padding: 0;
  line-height: 24px;
  position: relative;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  // max-width: 897px;
  .view-section {
    margin-bottom: 8px;
    label {
      color: rgba(23, 43, 77, 0.6);
    }
  }
  .user-type {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.38);
  }
  .ak-field-select:not(.user-type) {
    cursor: pointer;
  }
  .actions {
    &.edit {
      position: absolute;
      right: 20px;
      top: 12px;
      cursor: pointer;
    }
    &.multiple {
      position: relative;
      right: auto;
      top: auto;
      justify-content: flex-end;
      display: flex;
      padding: 16px 0 0;
      border-top: 1px dashed #ddd;
      margin-top: 16px;
    }
  }
  .edit-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0;
    .form-attributes {
      width: calc(50% - 15px);
      padding: 6px 0;
      .pi-form-field {
        margin-top: 2px;
      }
    }
    .ak-field-select,
    .ak-field-text {
      padding: 6px 6px;
    }
  }
}
