// .mat-dialog-container{
//     min-height: 230px;
//     position: relative;
// }
.confirm-delete {
  h2 {
    padding: 0;
  }
  min-height: 130px;
  .mat-dialog-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    padding: 16px 20px;
    color: rgba(23, 43, 77, 0.8);
    min-height: 100px;
    margin: 0 -18px;
    max-height: 68vh;
  }
  .btn-actions {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
  }
  .confirm-del-msg {
    margin-top: 10px;
  }
}
