<div *ngIf="!success" class="confirm-delete">
  <div class="mat-dialog-heading">
    <h2 mat-dialog-title>{{ data.title }}</h2>
    <button mat-icon-button mat-dialog-close tabindex="-1">
      <em class="pixel-icons icon-close"></em>
    </button>
  </div>

  <mat-dialog-content>
    <div>
      <p [innerHtml]="data.message"><!-- {{data.message}} --></p>
    </div>
  </mat-dialog-content>

  <div class="mat-dialog-actions box">
    <button pi-button color="subtle" tabindex="-1" (click)="close()">
      Cancel
    </button>
    <button pi-button color="accent" (click)="send()" [disabled]="onceClicked">
      {{ data.buttonText }}
    </button>
  </div>
</div>
