@import "variable";

@mixin get-primary-colors() {
  background-color: $primary-color;
  color: #fff;
}

@mixin get-primary-hover-colors() {
  background-color: $secondary-hover-color;
  color: #fff;
}

@mixin get-secondary-colors() {
  background-color: $secondary-bg-color;
  color: #fff;
}

@mixin get-secondary-hover-colors() {
  background-color: $secondary-bg-hover;
  color: $hover-color;
}

@mixin get-btn-colors() {
  background-color: $btn-color;
  color: #fff;
  // font-family: "sf-medium";
}
// @mixin

@import "_fonts";

// Font Mixins

@mixin light-font {
  font-family: "SF-Pro-Text-Light", Sans-Serif;
}
@mixin regular-font {
  font-family: "SF-Pro-Text-Regular", Sans-Serif;
}
@mixin medium-font {
  font-family: "SF-Pro-Text-Medium", Sans-Serif;
}
@mixin semibold-font {
  font-family: "SF-Pro-Text-Semibold", Sans-Serif;
}
@mixin bold-font {
  font-family: "SF-Pro-Text-Bold", Sans-Serif;
}
@mixin heavy-font {
  font-family: "SF-Pro-Text-Heavy", Sans-Serif;
}

@mixin animate-back {
  transform: translate(-5px, 0);
  -moz-transform: translate(-5px, 0);
  -webkit-transform: translate(-5px, 0);
  -ms-transform: translate(-5px, 0);
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
