@import "../styles/variable";

mat-sidenav {
  h2 {
    padding: 20px;
  }
}

.sidenav-container {
  padding: 0 20px 30px 20px;
  overflow: auto;
  width: 100%;
  overflow-x: hidden;
  height: calc(100vh - 130px);

  .structure-select {
    margin-bottom: 20px;

    span {
      opacity: 0.5;
      color: $header-color;
    }

    .level-name {
      font-size: 14px;
      letter-spacing: -0.12px;
      text-align: left;
      text-transform: capitalize;
    }

    input {
      border: 1px solid #dfe1e6;
      padding: 0 10px;
      height: 36px;
      line-height: 33px;
      margin-top: 5px;
      border-radius: 4px;
      background-color: #f4f5f7;
      width: 100%;
    }

    textarea {
      border: 1px solid #dfe1e6;
      padding: 10px;
      margin-top: 5px;
      border-radius: 4px;
      background-color: #f4f5f7;
      width: 100%;
    }

    .date-picker-field {
      position: relative;

      .mat-datepicker-toggle {
        position: absolute;
        right: 0px;
      }
    }
  }
}

.history-sidenav {
  position: inherit !important;
  .mat-drawer-backdrop {
    z-index: 4;
    position: fixed;
  }
  mat-sidenav {
    width: 392px;
    z-index: 4 !important;
    position: fixed;
    .mat-drawer-inner-container {
      overflow: hidden;
    }
    .revisions-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 20px;
      border-bottom: 1px solid #d7dbdd;
      h3 {
        @include semibold-font;
        font-size: 16px;
        color: #42526e;
        letter-spacing: -0.4px;
      }
    }
    .revisions-body {
      overflow-y: auto;
      // height: 94%;
      height: calc(100vh - 55px);
      padding: 22px 20px;
      .history-data {
        padding: 3px 20px 1px;
        &:nth-of-type(odd) {
          background-color: #f4f8ff;
        }
        &:nth-of-type(even) {
          background-color: #fff;
        }
        .label-content {
          display: flex;
          padding: 7px 0px;
          .label {
            min-width: 120px;
            opacity: 0.9;
            text-transform: capitalize;
            @include regular-font;
            font-size: 13px;
            color: #42526e;
            letter-spacing: -0.32px;
          }
          .content {
            text-transform: capitalize;
            @include medium-font;
            font-size: 13px;
            color: #42526e;
            letter-spacing: -0.32px;
            word-break: break-word;
            padding-right: 10px;
          }
        }
        .include-icon {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          .label-content {
            width: 100%;
          }
          .redo-icon {
            position: absolute;
            top: 0;
            right: -10px;
            top: 7px;
            cursor: pointer;
            .pixel-icons {
              &.icon-swap {
                height: 0;
              }
            }
          }
        }
      }
    }
  }
}
