<div class="login-sec">
  <div class="login-sec-bg"></div>
  <div class="login-page">
    <section
      class="login-hdr"
      [ngStyle]="{ 'background-image': 'url(' + backgroundImg + ')' }"
    >
      <img src="{{ image }}" alt="image" />
    </section>
    <section class="login-container">
      <div class="login-form">
        <form [formGroup]="forgotPasswordForm" *ngIf="!successMsg">
          <div class="ak-field-group header-text">
            <label>Enter the email address associated with your account</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              (input)="valuechange($event)"
            />
            <div
              class="pi-error"
              *ngIf="
                forgotPasswordForm.controls.email.hasError('required') &&
                !forgotPasswordForm.controls.email.pristine
              "
            >
              Email address is required.
            </div>
            <div
              class="pi-error"
              *ngIf="forgotPasswordForm.controls.email.hasError('pattern')"
            >
              Please enter valid email address.
            </div>
          </div>

          <div class="pi-error error" *ngIf="error">{{ error }}</div>
          <footer>
            <button class="btn" (click)="send(forgotPasswordForm)">
              Send my password
            </button>
          </footer>
        </form>
        <div class="forgot-pwd-success" *ngIf="successMsg">
          <img src="{{ successImg }}" alt="image" />
          <p>{{ successMsg }}</p>
        </div>
        <div class="backToLogin" routerLink="/login">
          <em class="material-icons" (click)="editUser('')">arrow_back</em>Back
          to Login
        </div>
      </div>
    </section>
  </div>
</div>
