<div class="campaigns-container tabs-view" *ngIf="!loader">
  <div class="section-header">
    <em class="pixel-icons icon-upload-and-compare"></em>
    <h2 class="heading">Upload and Compare</h2>   
  </div>
  <div class="campaigns-section tab-view">
    <!-- [selectedIndex]="selectedTab" -->

    <mat-tab-group
      [selectedIndex]="selectedTabIndex"
      (selectedTabChange)="tabChange($event)"
    >
      <mat-tab class="mat-tabs" label="Check File">
        <div class="radio-sec">
          <p>Select View for Crushing:</p>
          <div class="radio-group-sec" *ngIf="selectedTabIndex == 0">
            <!-- <pi-field-group direction="column">
              <pi-form-field
                *ngFor="let opt of radioOptions"
                [label]="opt.label"
              >
                <input
                  type="radio"
                  pi-input
                  name="stop_outgoing_emails"
                  [checked]="opt.checked"
                  (click)="optChanged(opt, $event)"
                />
              </pi-form-field>
            </pi-field-group> -->
            <form [formGroup]="viewGroup" class="page-list">
                <pi-form-field class="page-select">
                  <pi-select
                    [options]="viewOptions"
                    (onChange)="
                    viewChange($event)
                    "                   
                    formControlName="view_id"
                  ></pi-select>
                </pi-form-field>
              </form>
          </div>
       
           
        </div>
        <div class="upload-sec">

       
        <app-excel-uploader
          (importSuccess)="importSuccess($event)"
          (importStarts)="importStarts($event)"
          (fileUploadDone)="fileUploadDone($event)"
          (fileUploadStart)="fileUploadStart($event)"
          [importdata]="impData"
          [clearFiles]="clearFiles"
        >
        </app-excel-uploader>

        <div class="import-btn">
          <button
            pi-button
            color="accent"
            (click)="importData()"
            [disabled]="!uploadDone"
          >
            {{ importBtn }}
          </button>
        </div>
        <div class="pi-error" *ngIf="checkError != ''">{{ checkError }}</div>
        </div>
      </mat-tab>
      <mat-tab class="mat-tabs" label="Compare Files">
        <div class="radio-sec">
          <p>Select View for Crushing:</p>
          <div class="radio-group-sec" *ngIf="selectedTabIndex == 1">
            <pi-field-group direction="column">
              <!-- <pi-form-field
                *ngFor="let opt of radioOptions"
                [label]="opt.label"
              >
                <input
                  type="radio"
                  pi-input
                  name="stop_outgoing_emails"
                  [checked]="opt.checked"
                  (click)="optChanged(opt, $event)"
                  />
              </pi-form-field> -->
              <form [formGroup]="viewGroup" class="page-list">
                  <pi-form-field class="page-select">
                    <pi-select
                      [options]="viewOptions"
                      (onChange)="
                      viewChange($event)
                      "                   
                      formControlName="view_id"
                    ></pi-select>
                  </pi-form-field>
                </form>
            </pi-field-group>
          </div>
        </div>
        <div class="upload-sec">
        <p class="heading-tab">Upload File A</p>
        <app-excel-uploader
          [ngClass]="{
            'not-allowed': this.CompExptBtn === 'Comparing Please Wait ...'
          }"
          (importSuccess)="importSuccess($event)"
          (importStarts)="importStarts($event)"
          (fileUploadDone)="proof1UploadDone($event)"
          (fileUploadStart)="proof1UploadStart($event)"
          (crush)="proof1Import($event)"
          (dwnldCrush)="proof1Export($event)"
          [importdata]="impData1"
          [impSucces]="impSucces"
          [prog1]="prog1"
          [clearFiles]="clearFiles"
        >
        </app-excel-uploader>
        <p class="heading-tab">Upload File B</p>
        <!-- previously,  Upload Proof 1, Proof 2-->
        <app-excel-uploader
          [ngClass]="{
            'not-allowed': this.CompExptBtn === 'Comparing Please Wait'
          }"
          (importSuccess)="importSuccess($event)"
          (importStarts)="importStarts($event)"
          (fileUploadDone)="proof2UploadDone($event)"
          (fileUploadStart)="proof2UploadStart($event)"
          (crush)="proof2Import($event)"
          (dwnldCrush)="proof2Export($event)"
          [importdata]="impData2"
          [impSucces1]="impSucces1"
          [prog2]="prog2"
          [clearFiles]="clearFiles"
        >
        </app-excel-uploader>
        <div class="import-btn">
          <button
            pi-button
            color="accent"
            (click)="cmpExport()"
            [disabled]="!(proof1ImpScs && proof2ImpScs)"
          >
            {{ CompExptBtn }}
            <div
              class="dwnld-spinner spinner"
              *ngIf="this.CompExptBtn === 'Comparing Please Wait'"
            >
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </button>
        </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div class="loader" *ngIf="loader"></div>
<div class="loader-text no-data-grid" *ngIf="loader">
  Loading, please wait...
</div>
