.left-header {
  .specs-select-sec {
    margin-top: 15px;
  }
}
.choices-wrapper {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  label {
    color: rgba(23, 43, 77, 0.6);
    margin-bottom: 4px;
  }
  .actions {
    position: absolute;
    left: 100%;
    display: flex;
    // border: 1px solid #dfe1e6;
    // border-left: none;
    // border-top: none;
    span {
      width: 50px;
      height: 54px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #dfe1e6;
      &.remove {
        border-right: 0px;
      }
      &:hover {
        background-color: #f4f5f7;
      }
      &.disable {
        cursor: not-allowed;
        opacity: 0.7;
        &:hover {
          background-color: #fff;
        }
      }
    }

    span {
      padding: 0 10px;
      // display: inline-block;
      font-size: 22px;
      &:last-child {
        border-left: 1px solid #dfe1e6;
      }
      em {
        // width: 12px;
        // height: 12px;
        font-size: 22px;
        color: rgba(23, 43, 77, 0.6);
        font-weight: bold;
      }
    }
  }
}
.choices {
  border: 1px solid #dfe1e6;
  .header {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #dfe1e6;
    span {
      text-align: center;
      padding: 4px;
      &:first-child {
        margin-left: -30px;
      }
      &:last-child {
        margin-right: -30px;
      }
    }
  }
  .custom-radio {
    margin: 0;
    height: 29px;
  }
  .choice-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    position: relative;
    div {
      text-align: center;
      padding-top: 0 !important;
    }
    &:first-child {
      .actions {
        // border-top: 1px solid #dfe1e6;
      }
    }
  }
  .body .choice-box:not(:last-child) {
    border-bottom: 1px solid #dfe1e6;
  }
}
.choice-box-empty {
  position: relative;
  min-height: 150px;
  .no-data-grid {
    font-size: 16px;
  }
}
.footer {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  padding: 24px 0;
  justify-content: flex-end;
  border-top: 1px solid #cdcdcd;
  margin: 24px 0 0;
}

/* auto suggest*/
.auto-suggest {
  border: 1px solid #dfe1e6;
  border-bottom: none;
  max-width: 600px;
  .actions {
    display: flex;
    padding: 8px;
    border-bottom: 1px solid #dfe1e6;
    justify-content: space-between;
  }
  .list {
    .item {
      display: flex;
      border-bottom: 1px solid #dfe1e6;
      padding: 5px 8px;
      justify-content: space-around;
      flex: 1;
    }
    .header {
      .sorting {
        text-align: center;
      }
      .sort-action {
        text-transform: uppercase;
        color: rgba(23, 43, 77, 0.6);
      }
    }
  }
}

.form-spec-types {
  min-width: 225px;
}
.invisible {
  display: none;
}
